.seller-auth {
  background-color: whitesmoke;
  margin: 70px 400px;
  padding-bottom: 23px;
  border-radius: 10px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up h2 {
  color: blueviolet;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 345px;
}

.signup-form input {
  margin-bottom: 10px;
  height: 34px;
  border: 1px solid blueviolet;
  border-radius: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.signup-form button {
  height: 34px;
  border: 1px solid blueviolet;
  border-radius: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login h2 {
    color: blueviolet;
  }

  .login p{
    color: red;
    font-size: 14px;
    text-align: center;
  }

.auth-toggle-link {
  color: blue;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}
